if getProductos
    div(class="elementoCentrado")
        table
            thead
                tr
                    th="Nombre"
                    th="Precio" 
                    th="Imagen"
            tbody
                each prod in getProductos
                    tr
                        td=prod.nombre
                        td=prod.precio
                        td
                            img(src=prod.url alt=prod.nombre width="100px")
else
    div(class="elementoCentrado")
        div(class="noHayProductosContainer")
            h2(class="elementoCentrado")="No hay productos"