if getProductos.length > 0
    table
        thead
            tr
                th="Nombre"
                th="Precio" 
                th="Imagen"
        tbody
            each prod in getProductos
                tr
                    td=prod.nombre
                    td=prod.precio
                    td
                        img(src=prod.url alt=prod.nombre)
    a(href="/")
        button="Añadir más productos"
else
    h2="No hay productos"
    a(href="/")
            button="Añadir productos"