if getProductos.length > 0
    table
        thead
            tr
                th="Nombre"
                th="Precio" 
                th="Imagen"
        tbody
            each prod in getProductos
                tr
                    td=this.nombre
                    td=this.precio
                    td
                        img(src=this.url alt=this.nombre)
        a(href="/")
            button="Añadir más productos"
else
    h2="No hay productos"
    a(href="/")
            button="Añadir productos"