h1(class="elementoCentrado")="Ingrese un producto:"
div(class="elementoCentrado")
    form(action="/" method="post" name="productos")
        fieldset  
            div
                label(for="nombre")="Nombre"
                input(type="text" placeholder="Ingrese el nombre del producto" id="nombre" name="nombre" required)

            div
                label(for="precio")="Precio"
                input(type="text" placeholder="Ingrese el precio del producto" id="precio" name="precio" required)

            div
                label(for="url")="Foto URL"
                input(type="url" placeholder="Ingrese la URL de su foto" id="url" name="url" required)

            button="Enviar"
        
            a(href="/")
                button="Ver productos"